@import "elementplus/el-variables";
@import "elementplus/el-button";
@import "elementplus/el-dropdown";
@import "elementplus/el-table";


// Container
.el-container {
  display: block;
  width: 100%;
  max-width: 80%;
  margin: auto;

  @media (min-width: 1440px) {
    max-width: 1200px;
  }
}


// Input
.el-select,
.el-input {
  &.el-custom--input {
    .el-input__wrapper {
      background-color: var(--cl-white);
      color: var(--cl-text-primary);
      height: 60px;
      border-radius: 12px;
      font-family: 'Figtree', sans-serif;
      box-shadow: 0 0 0 1px var(--cl-input-border, var(--cl-input-border)) inset;
      transition: box-shadow 0.25s ease-out;

      .el-input__inner {
        font-weight: 600;
        font-size: 1.125rem;
        padding-left: 10px;
        font-family: "Figtree", sans-serif;
        color: var(--cl-text-primary);
        background-color: var(--cl-white);
      }

      &:hover {
        box-shadow: 0 0 0 1px var(--cl-grey-nonary, var(--cl-grey-nonary)) inset !important;
        transition: box-shadow 0.25s ease-in;
      }

      &.is-focus {
        box-shadow: 0 0 0 1px var(--cl-text-secondary, var(--cl-text-secondary)) inset !important;
        transition: box-shadow 0.25s ease-in;
      }
    }
  }
}


// Form
.el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label:before,
.el-form-item.is-required:not(.is-no-asterisk)
.el-form-item__label-wrap
> .el-form-item__label:before {
  display: none;
}

.el-form {
  width: 100%;
}

.el-form-item {
  margin-bottom: 18px;
}

.el-form-item__label {
  position: relative;
  z-index: 1;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.4;
  text-align: left;
  margin-bottom: 10px;
  color: var(--cl-text-primary);
}


// Table
.el-table {
  .el-table__cell {
    padding: 12px 0;
  }

  .cell {
    margin: 10px 0;
  }
}

.cl-dropdown--icon {
  padding: 8px 12px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  font-size: 0.75rem;
  background-color: transparent;
  transition: background-color 0.25s ease-in;

  i {
    color: var(--cl-grey-quaternary);
  }

  &:hover {
    background-color: var(--cl-blue-senary);
    transition: background-color 0.25s ease-in;

    i {
      color: var(--cl-black-primary);
      transition: color 0.25s ease-in;
    }
  }
}
