@import "elementplus/el-variables";
@import "elementplus/el-dropdown";
@import "elementplus/el-table";


// Container
.el-container {
  display: block;
  width: 100%;
  max-width: 80%;
  margin: auto;

  @media (min-width: 1440px) {
    max-width: 1200px;
  }
}


// Input
.el-select,
.el-input {
  width: 100%;

  &.el-custom--input {
    .el-input__wrapper {
      background-color: var(--cl-white);
      color: var(--cl-text-primary);
      height: 60px;
      font-family: 'Figtree', sans-serif;
      box-shadow: 0 0 0 1px var(--cl-input-border, var(--cl-input-border)) inset;
      transition: box-shadow 0.25s ease-out;

      .el-input__inner {
        font-weight: 600;
        font-size: 1.125rem;
        padding-left: 10px;
        font-family: "Figtree", sans-serif;
        color: var(--cl-text-primary);
        background-color: var(--cl-white);
      }


    }
    .el-input-group__prepend {
      background-color: #FFFFFF;
      box-shadow: none;
      border: none;
      width: 30%;
      padding: 0;

      .el-input__wrapper {
        box-shadow: none !important;
        border: none;
      }
    }
  }
}

// Form
.el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label:before,
.el-form-item.is-required:not(.is-no-asterisk)
.el-form-item__label-wrap
> .el-form-item__label:before {
  display: none;
}

.el-form {
  width: 100%;
}

.el-form-item {
  margin-bottom: 18px;
}

.el-form-item__label {
  position: relative;
  z-index: 1;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: left;
  margin-bottom: 10px;
  color: var(--cl-white);
}


// Table
.el-table {
  .cell {
    height: 70px;
    display: table-cell;
    vertical-align: middle;
  }
}

.el-table__body tr:hover td,
.el-table__body tr.hover-row td {
      background-color: transparent !important;
}

.cl-dropdown--icon {
  padding: 8px 12px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  font-size: 0.75rem;
  background-color: transparent;
  transition: background-color 0.25s ease-in;

  i {
    color: var(--cl-grey-quaternary);
  }

  &:hover {
    background-color: var(--cl-blue-senary);
    transition: background-color 0.25s ease-in;

    i {
      color: var(--cl-black-primary);
      transition: color 0.25s ease-in;
    }
  }
}
