:root {
  /* Grey / Text */
  --cl-grey-primary: #0B0B0B;
  --cl-grey-secondary: #2B272B;
  --cl-grey-tertiary: #4B444B;
  --cl-grey-quaternary: #6B616B;
  --cl-grey-quinary: #8B7E8B;
  --cl-grey-senary: #A89FA8;
  --cl-grey-septenary: #C5BFC5;
  --cl-grey-octonary: #D8D4D8;
  --cl-grey-nonary: #ECEAEC;

  /* Useguide Eerie Black */
  --cl-black-primary: #141414;
  --cl-black-secondary: #292929;
  --cl-black-tertiary: #3D3D3D;
  --cl-black-quaternary: #525252;
  --cl-black-quinary: #666666;
  --cl-black-senary: #7A7A7A;
  --cl-black-septenary: #8F8F8F;
  --cl-black-octonary: #A3A3A3;
  --cl-black-nonary: #B8B8B8;

  /* Colic Theme */
  --cl-blue-primary: #4159BE;
  --cl-blue-background: #EDF2F6;

  --cl-text-primary: #363C4A;
  --cl-text-secondary: #A7AAAE;

  /* Useguide Inputs */
  --cl-input-background: #F3F6F9;
  --cl-input-border: #F3F6F9;

  /* Useguide White */
  --cl-white: #FFFFFF;
  --cl-white-bg: #F1F1F1;
}
