.el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label:before,
.el-form-item.is-required:not(.is-no-asterisk)
.el-form-item__label-wrap
> .el-form-item__label:before {
  display: none;
}

.el-form {
  width: 100%;
}

.el-form-item {
  margin-bottom: 18px;
}

.el-form-item__label {
  position: relative;
  z-index: 1;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
  text-align: left;
  margin-bottom: 10px;
  color: var(--ug-grey-primary);
}
